<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!-- Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iuh.fit.se.bai1filter.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>iuh.fit.se.bai1filter.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>iuh.fit.se.bai1filter.filters.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>MimeTypeFilter</filter-name>
        <filter-class>iuh.fit.se.bai1filter.filters.MimeTypeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MimeTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>