<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean sử dụng setter -->
    <bean id="address1" class="iuh.fit.se.model.Address">
        <property name="city" value="Hà Nội"/>
        <property name="state" value="LA"/>
        <property name="country" value="Viet Nam"/>

    </bean>

    <bean id="employee1" class="iuh.fit.se.model.Employee">
        <property name="name" value="Nguyễn Văn A"/>
        <property name="address" ref="address1"/>
    </bean>

<!--    &lt;!&ndash; Bean sử dụng constructor &ndash;&gt;-->
<!--    <bean id="address2" class="iuh.fit.se.model.Address">-->
<!--        <constructor-arg value="Hồ Chí Minh"/>-->
<!--        <constructor-arg value="NY"/>-->
<!--        <constructor-arg value="Viet Nam"/>-->

<!--    </bean>-->

<!--    <bean id="employee2" class="iuh.fit.se.model.Employee" >-->
<!--        <constructor-arg value="12"/>-->
<!--        <constructor-arg value="Trần Thị B"/>-->
<!--        <constructor-arg ref="address2"/>-->
<!--    </bean>-->
</beans>
